<%= provide(:title, "Reset Password") %>
<h1>Reset Password</h1>

<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
        <%= form_for(@user, url: "/password_resets/#{params[:id]}") do |f| %> 
                    
            <!-- For some reason, password_resets_path(params[:id]) was giving "
                /password_resets.<reset_token> instead of 
                /password_resets/<reset_token>
                which gives a routing error, so I had to stick the correct address in" -->
                    
            <%= render 'shared/error_messages' %>
            
            <%= hidden_field_tag :email, @user.email %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            
            <%= f.submit "Change Password", class: 'btn btn-primary' %>
        <% end %>
    
    
    </div>
</div>